<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

  </style>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="app">
    <ul>
      <!-- 1.遍历数组 (item,index) -->
      <li v-for="(item,index) in arr">
        {{index + 1}}.{{ item }}
      </li>
      <!-- 2.遍历对象  (value, key,index) -->
      <li v-for="(item,key,index) in obj">
        {{ item }} : {{key}} :{{index }}
      </li>
    </ul>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: '',
        arr: ['xiaobai', 'xiaoshuai', 'xiaohei', 'xiaolan', 'xiaolv',],
        obj: {
          name: 'xiaohong',
          age: 14,
          height: '1.99m'
        }
      }
    })
  </script>
</body>

</html>